* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding: 21px 48px;
}

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Begining of Hero section */
.hero {
  display: flex;
  height: 50vh;
  padding: 21px 48px;
}

.hero-img {
  width: 600px;
  height: auto;
}

.main-text {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin-bottom: 16px;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.sign-up {
  background-color: #3882f6;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

/* Begining of information-section */
.information-section {
  padding: 21px 48px;
  background-color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-section h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 50px;
  justify-self: center;
}

.card-img {
  width: 200px;
  height: 200px;
  border: solid 2px #3882f6;
  border-radius: 10px;
}

.card {
  display: flex;
  width: 200px;
  text-align: center;
}

/* Begining of quote-section */
.quote-section {
  padding: 21px 48px;
  height: 50vh;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container,
.source-container {
  padding: 0px 21px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.source-text {
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
}

.source-container {
  align-self: flex-end;
}
